<table class="standard-table">
  <tbody>{% assign base_handle = product_handle %}
    <tr>
      <td>
        <p>Dribbble</p>
        <p>
          {% assign product_handle = base_handle | append: '-dribbble' %}{% include '_text' %}
        </p>
      </td>
      <td>
        <p>Email</p>
        <p>
          {% assign product_handle = base_handle | append: '-email' %}{% include '_text' %}
        </p>
      </td>
      <td>
        <p>Facebook</p>
        <p>
          {% assign product_handle = base_handle | append: '-facebook' %}{% include '_text' %}
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <p>Flickr</p>
        <p>
          {% assign product_handle = base_handle | append: '-flickr' %}{% include '_text' %}
        </p>
      </td>
      <td>
        <p>Foursquare</p>
        <p>
          {% assign product_handle = base_handle | append: '-foursquare' %}{% include '_text' %}
        </p>
      </td>
      <td>
        <p>Github</p>
        <p>
          {% assign product_handle = base_handle | append: '-github' %}{% include '_text' %}
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <p>Google+</p>
        <p>
          {% assign product_handle = base_handle | append: '-google-plus' %}{% include '_text' %}
        </p>
      </td>
      <td>
        <p>Instagram</p>
        <p>
          {% assign product_handle = base_handle | append: '-instagram' %}{% include '_text' %}
        </p>
      </td>
      <td>
        <p>LinkedIn</p>
        <p>
          {% assign product_handle = base_handle | append: '-linkedin' %}{% include '_text' %}
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <p>Pinterest</p>
        <p>
          {% assign product_handle = base_handle | append: '-pinterest' %}{% include '_text' %}
        </p>
      </td>
      <td>
        <p>RSS</p>
        <p>
          {% assign product_handle = base_handle | append: '-rss' %}{% include '_blog' %}
        </p>
      </td>
      <td>
        <p>Skype</p>
        <p>
          {% assign product_handle = base_handle | append: '-skype' %}{% include '_text' %}
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <p>Stack Exchange</p>
        <p>
          {% assign product_handle = base_handle | append: '-stack-exchange' %}{% include '_text' %}
        </p>
      </td>
      <td>
        <p>Stack Overflow</p>
        <p>
          {% assign product_handle = base_handle | append: '-stack-overflow' %}{% include '_text' %}
        </p>
      </td>
      <td>
        <p>Tumblr</p>
        <p>
          {% assign product_handle = base_handle | append: '-tumblr' %}{% include '_text' %}
        </p>
      </td>
    </tr>
    <tr>
      <td>
        <p>Twitter</p>
        <p>
          {% assign product_handle = base_handle | append: '-twitter' %}{% include '_text' %}
        </p>
      </td>
      <td>
        <p>Vimeo</p>
        <p>
          {% assign product_handle = base_handle | append: '-vimeo' %}{% include '_text' %}
        </p>
      </td>
      <td>
        <p>You Tube</p>
        <p>
          {% assign product_handle = base_handle | append: '-youtube' %}{% include '_text' %}
        </p>
      </td>
    </tr>
  </tbody>
</table>